<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D1_CourierConnector.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <D1_CourierConnector.My.MySettings>
            <setting name="D1_CourierConnector_service_taxydromiki_test_JobServicesV2"
                serializeAs="String">
                <value>http://testvoucher.taxydromiki.gr/JobServicesV2.asmx</value>
            </setting>
            <setting name="D1_CourierConnector_Web_taxydromiki_JobServicesV2"
                serializeAs="String">
                <value>https://voucher.taxydromiki.gr/JobServicesV2.asmx</value>
            </setting>
            <setting name="D1_CourierConnector_Web_taxydema_create_TAXYCREATESIDETA"
                serializeAs="String">
                <value>http://online.taxydema.gr</value>
            </setting>
            <setting name="D1_CourierConnector_Web_taxydema_delete_TAXYDELETESIDETA"
                serializeAs="String">
                <value>http://online.taxydema.gr</value>
            </setting>
            <setting name="D1_CourierConnector_Web_taxydema_print_TAXYPRINTSIDETA"
                serializeAs="String">
                <value>http://online.taxydema.gr</value>
            </setting>
            <setting name="D1_CourierConnector_Web_taxydema_printA6_TAXYPRINTSIDETAA6"
                serializeAs="String">
                <value>http://online.taxydema.gr</value>
            </setting>
            <setting name="D1_CourierConnector_Web_taxydema_track_TAXYTTSIDETA"
                serializeAs="String">
                <value>http://online.taxydema.gr</value>
            </setting>
            <setting name="D1_CourierConnector_Web_speedex_test_AccessPoint"
                serializeAs="String">
                <value>https://www.devspdxws.gr/accesspoint.asmx</value>
            </setting>
            <setting name="D1_CourierConnector_Web_speedex_AccessPoint" serializeAs="String">
                <value>https://spdxws.gr/accesspoint.asmx</value>
            </setting>
            <setting name="D1_CourierConnector_Web_eltaCourier_create_CREATEAWB"
                serializeAs="String">
                <value>http://212.205.47.226:9003</value>
            </setting>
            <setting name="D1_CourierConnector_Web_eltaCourier_print_PELB64VG"
                serializeAs="String">
                <value>http://10.10.9.23:9003</value>
            </setting>
            <setting name="D1_CourierConnector_Web_eltaCourier_track_PELTT01"
                serializeAs="String">
                <value>http://212.205.47.226:9003</value>
            </setting>
        </D1_CourierConnector.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
